<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>UserList</title>
</head>
<body>
  <table border>
    <tr>
      <th>名前</th>
      <th>メールアドレス</ht>
    </tr>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
      </tr>
    <% end %>
  </table>
  <form method="post" action="users">
    <input type="text" name="name">
    <input type="text" name="email">
    <input type="submit" value="新規作成">
  </form>
</body>
</html>



